@charset "UTF-8";
.catalog {
  display: flex;
  margin: 72px 64px 141px;
  gap: 138px;
}
.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__header-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.catalog__filter-toggle {
  display: none;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.catalog__filter-toggle svg {
  width: 24px;
  height: 24px;
}
.catalog__filter {
  position: relative;
  cursor: pointer;
  padding-left: 48px;
  min-height: 22px;
}
.catalog__filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.catalog__filter-title {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.catalog__checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 22px;
  width: 36px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.catalog__filter:hover .catalog__checkmark {
  border-color: var(--color-green);
}
.catalog__filter input:checked ~ .catalog__checkmark {
  background-color: var(--color-green);
}
.catalog__checkmark:after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--color-black);
  border-radius: 100%;
  left: 7px;
  top: 7px;
  width: 8px;
  height: 8px;
}
.catalog__filter input:checked ~ .catalog__checkmark:after {
  left: auto;
  right: 7px;
}
.catalog__count {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06em;
}
.catalog__sort {
  display: flex;
  align-items: center;
}
.catalog__sort-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 0;
  padding-right: 14px;
  background-image: url("src/images/icons/select-arrow-icon.png");
  background-repeat: no-repeat;
  background-position: right center; /* Позиция стрелки */
  background-size: 10px;
  border: none;
  font-size: 12px;
  letter-spacing: 0.06em;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.catalog__sort-select:focus-visible {
  outline: none;
}
.catalog__main {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
}
.catalog__filters {
  max-width: 166px;
  width: 100%;
}
.catalog__filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog__filter {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.catalog__filter input {
  width: 18px;
  height: 18px;
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
}

@media (max-width: 767px) {
  .catalog {
    margin: 48px 24px 64px;
  }
  .catalog__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    gap: 15px;
  }
  .catalog__filters {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 318px;
    background: white;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    opacity: 0;
    overflow-y: auto;
  }
  .catalog__filters--active {
    bottom: 0;
    border-radius: 24px 24px 0 0;
    opacity: 1;
    background-image: url("./src/images/icons/line-icon.png");
    background-repeat: no-repeat;
    background-position: top 12px center;
    padding-top: 54px;
  }
  .catalog__filter-group {
    padding-left: 24px;
  }
  .catalog__filter-toggle {
    display: flex;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.06em;
    font-size: 12px;
  }
  .catalog__count {
    display: none;
  }
}