@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

// pallete
:root {
  --color-black: #1f2020;
  --color-green: #7bb899;
  --color-white: #ffffff;
}

.page {
  font-family: "Inter", sans-serif;
  height: 100%;

  &__container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
}

.site-slider {
  &__slide-content {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 560px;
    max-height: 100%;
  }

  &__slide-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slide-text-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* Растягивает контейнер на весь родителя */
    margin: auto; /* Центрирование */
    height: fit-content;
    max-width: 472px;
    width: 100%;
  }

  &__slide-title {
    font-size: 72px;
    line-height: 88px;
    margin: 0 0 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  &__slide-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    letter-spacing: 0.02em;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.site-drawer {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    display: block;
    height: 100%;
  }

  &__header-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 88%;
    letter-spacing: -.04em;
    margin: 0;
  }

  &__nav-container {
    padding: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05rem;
    color: var(--color-black);
    text-decoration: none;
    transition: opacity 0.3s linear;
    text-transform: uppercase;

    &:hover {
      opacity: .7;
    }
  }
}

.site-catalog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.site-breadcrumps {
  position: absolute;
  left: 64px;
  top: 32px;
  z-index: 20;
  
  &__wrapper {
    max-width: 1920px;
    position: relative;
  }

  &__list {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .06em;
    color: var(--color-white);
    opacity: .3;
    text-transform: uppercase;
    list-style-type: none;
    align-items: center;

    &::after {
      content: '';
      width: 3px;
      height: 3px;
      background-color: var(--color-white);
      border-radius: 100%;
      margin-left: 8px;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__endpoint {
    display: none;
  }

  @media (max-width: 1023px) {
    position: relative;
    top: auto;
    left: auto;
    border-top: 1px solid rgba(31, 32, 32, .06);
    padding-top: 16px;

    &__wrapper {
      padding: 0 24px;
    }

    &__item {
      color: var(--color-black);

      &::after {
        background-color: var(--color-black);
      }
    }

    &__endpoint {
      display: block;
      margin: 0;
      padding-top: 48px;
      font-size: 36px;
      font-weight: 400;
      line-height: 88%;
      color: var(--color-black);
    }
  }
}

.site-footer {
  background-color: #000;
  width: 100%;
  height: 310px;
}